body {
	height: 667px;
	width: 375px;
}

.profile-name {
	background-color: #4A90E2;
	color: white;
	text-align: center;
}

.profile-container {
	background-color: #4A90E2;
	text-align: center;

}

.profile-pic {
	float: left;
	width: 25%;
	margin-top: 20px;
}

.profile-toolbar {
	float: left;
	text-align: center;
	background-color: #4A90E2;
	color: white;
	width: 75%;
}

.profile-stats {
	color: white;
	float: center;
	margin-left: 10%;

}

.nav.nav-pills {
	color: white;
	float: center;
}

.profile-edit {
	background-color: #9BB7D8;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 5px;
}


.btn-d {
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	font-size: 12pt;
	border: 2px solid #4A90E2;
	color: #4A90E2;
	background-color: white;
}

.btn-g {
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	font-size: 12pt;
	background-color: #4A90E2;
	border: 2px solid #4A90E2;
	color: white;
}


.btn-c {
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	font-size: 12pt;
	background-color: #1B3757;
	color: white;
	border: 2px solid #1B3757;
}



#container {
	width: 375px;
	background-color: #A1BEDF;
	height: 51.31px;
	border-radius: 5px;
}

.navbar {
	width: 375px;
	text-align: center;
	color: #1B3757;
	background-color: #A1BEDF;
	height: 51.31px;
	border-radius: 5px;
}

#btn {
	background-color: #A1BEDF;
}

#fixed-bottom {
	height: 200pt;
	width: 23%;
	padding-top: 2.5pt;
	background-color: #A1BEDF;
}

.glyphicon{
	width: 23%;
	font-size: 25pt;
	background-color: #A1BEDF;
}